<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">I'm Liam Middlebrook. A student at Rochester Institute of Technology majoring in Game Design and Development (BSc) and minoring in Free and Open Source Software. I'm intrested in Engines, and Graphics Programming, as well as Build Systems and DevOps. I participate in my local FOSS Community both <a href="https://github.com/FOSSRIT">at RIT</a>  and <a href="http://rocpy.org">the Rochester Python Meetup</a></h3>
                </div>
            </div>
        </div>
    </section>
